

$socialIcons:
		(vk, $vkontakte),
		(twitter, $twitter),
		(facebook, $facebook);

@each $class, $color in $socialIcons {
	.hdr_social_ls > li a i.fa-#{$class} {
		border-color: $color;
		background: $color;
	}

	.hdr_social_ls > li a:hover i.fa-#{$class} {
		color: $color;
	}
}


@each $class, $color in $socialIcons {
	.foot_scl_ls > li a i.fa-#{$class} {
		@include ButtonDark($color);
	}
}





$socialIcons:
		(facebook, $facebook),
		(twitter, $twitter),
		(linkedin, $linkedin),
		(vk, $vkontakte),
		(odnoklassniki, $odnoklassniki);

@each $class, $color in $socialIcons {
	.exib_news_one_scl_ls > li a i.fa-#{$class} {
		border-color: $color;
		background: $color;
	}

	.exib_news_one_scl_ls > li a:hover i.fa-#{$class} {
		color: $color;
	}
}




