



/* Application
--------------------------------------------------------------------------------*/
$colorBase: #e53935;
$colorBaseDark: #d43430;







/* Social Websites
--------------------------------------------------------------------------------*/
$facebook: #3b589e;
$twitter: #00aced;
$instagram: #c21975;
$vkontakte: #436eab;
$youtube: #fe0000;
$googlePlus: #dc4a38;
$odnoklassniki: #f58220;
$linkedin: #107bb8;

