
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 13px;
	font-weight: 400;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}







/*
--------------------------------------------------
- Custom Classes
--------------------------------------------------
*/

.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.inr-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h100 {
	height: 100%;
}

.ov-h {
	height: 100%;
	overflow: hidden !important;
}

.bg-cover {
	background-size: cover;
	background-position: center;
}

.bg-contain {
	background-size: contain;
	background-position: center;
}
/*--------------- Custom Classes ---------------*/










/*
**************************************************
* Header
**************************************************
*/

@at-root .header {

}


/*
--------------------------------------------------
- Header Title
--------------------------------------------------
*/
@at-root .hdr_ttl_bx {
	background: #f4f4f4;

	@at-root .hdr_ttl {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@at-root .hdr_sponsor {

			a {
				padding: 7px 15px;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 600;
				@include ButtonDark($colorBase);
				color: #fff;
			}
		}


		@at-root .hdr_lang_ls {
			display: flex;

			> li {

				&:not(:last-of-type) {
					margin-right: 30px;
				}


				@at-root .hdr_lang {
					display: flex;
					align-items: center;
					font-size: 12px;

					&:hover {
						color: $colorBase;
					}


					img {
						height: 16px;
					}


					.txt {
						margin-left: 5px;
					}
				}
			}
		}
	}
}
/*--------------- Header Title ---------------*/




/*
--------------------------------------------------
- Header Content
--------------------------------------------------
*/
@at-root .hdr_cnt_bx {

	@at-root .hdr_cnt {
		display: flex;
		align-items: center;
		padding: 20px 0;

		@at-root .hdr_cnt_txt {
			flex: 1 1 auto;
			display: flex;
			padding-right: 15px;

			@at-root .hdr_cnt_txt_it {
				flex: 1 1 auto;

				&:not(:last-of-type) {
					border-right: 1px solid #f0eee8;
				}


				@at-root .logo_bx {
					display: flex;
					padding-right: 15px;

					@at-root .logo {

						@at-root .logo_img_bx {
							display: flex;
							align-items: center;

							@at-root .logo_img {
								flex: 0 0 auto;
								margin-right: 10px;

								img {
									height: 65px;
								}
							}


							@at-root .logo_img_txt {
								line-height: 1.2;
								text-transform: uppercase;
								font-size: 16px;
								font-weight: 900;

								p {

									&:nth-of-type(1) {
										color: #898686;
									}


									&:nth-of-type(2) {
										color: #035b9d;
									}


									&:nth-of-type(3) {
										color: #e51a27;
									}
								}
							}
						}


						@at-root .logo_capt {
							margin-top: 5px;
							text-transform: uppercase;
							font-size: 10px;
							font-weight: 600;
							color: #b5b0ac;
						}
					}
				}


				@at-root .hdr_exhib_bx {
					display: flex;
					justify-content: center;
					padding: 0 15px;

					@at-root .hdr_exhib {
						line-height: 1;

						p {

						}


						@at-root .hdr_exhib_hd {
							font-size: 11px;
							color: #dc1b20;
						}


						@at-root .hdr_exhib_bd {
							font-size: 40px;
							font-weight: 800;
							color: #dc1b20;
						}


						@at-root .hdr_exhib_ft {
							text-transform: uppercase;
							font-size: 12px;

							.bolder {
								display: block;
								font-weight: 800;
							}


							.normal {
								display: block;
								font-weight: 600;
							}
						}
					}
				}


				@at-root .hdr_org_bx {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					padding: 0 15px;

					@at-root .hdr_org {
						margin-right: 15px;

						@at-root .hdr_org_capt {
							margin-bottom: 5px;
							font-size: 11px;
						}


						@at-root .hdr_org_img {
							text-align: center;

							img {
								height: 70px;
							}
						}
					}


					@at-root .hdr_social {

						@at-root .hdr_social_capt {
							margin-bottom: 15px;
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 700;
						}


						@at-root .hdr_social_ls_bx {

							@at-root .hdr_social_ls {
								display: flex;

								> li {

									&:not(:last-of-type) {
										margin-right: 10px;
									}


									a {

										i {
											display: flex;
											justify-content: center;
											align-items: center;
											width: 38px;
											height: 38px;
											border: 1px solid;
											border-radius: 50%;
											color: #fff;
										}

										&:hover i {
											background-color: transparent;
										}
									}
								}
							}
						}
					}
				}
			}
		}


		@at-root .hdr_cnt_btn_bx {
			flex: 0 0 auto;

			@at-root .hdr_cnt_btn_ls {

				> li {

					& + li {
						margin-top: 10px;
					}


					@at-root .hdr_cnt_btn {
						padding: 10px 20px;
						border-bottom: 2px solid darken(#a5a5a5, 14%);
						border-radius: 3px;
						text-align: center;
						text-transform: uppercase;
						font-size: 12px;
						transition: all .3s;
						background: #a5a5a5;
						color: #fff !important;

						&.red {
							border-bottom: 2px solid darken($colorBase, 14%);
							background: $colorBase;
						}


						&:hover {
							box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
						}
					}
				}
			}
		}
	}
}
/*--------------- Header Content ---------------*/




/*
--------------------------------------------------
- Navigation
--------------------------------------------------
*/
@at-root .nav_menu_bx {
	height: 46px;

	@at-root .nav_menu_inr {
		height: 100%;
		background: #898989;
		color: #fff;

		&.active {

		}


		@at-root .nav_menu {

			@at-root .nav_menu_ls {
				display: flex;

				> li {
					flex: 1 1 auto;
					position: relative;
					z-index: 50;
					perspective: 500px;

					> a {
						padding: 14px 10px;
						text-align: center;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 500;
					}


					&.active > a,
					&:hover > a {
						background: $colorBase;
					}


					@at-root .nav_menu_drop {
						min-width: 100%;
						@include Position(a, 100%, null, null, 0);
						z-index: 50;
						opacity: 0;
						visibility: hidden;
						transform: rotate3d(1, 0, 0, -90deg);
						transform-origin: top;
						transition: all .3s;
						box-shadow: 0 5px 7px rgba(#000, .25);
						background: $colorBaseDark;

						@at-root .nav_menu_ls > li:last-of-type & {
							left: auto;
							right: 0;
						}


						@at-root .nav_menu_ls > li:hover & {
							opacity: 1;
							visibility: visible;
							transform: rotate3d(0, 0, 0, 0);
						}


						> li {

							> a {
								padding: 10px 20px;
								white-space: nowrap;
								font-size: 12px;
								font-weight: 500;
							}


							&.active > a,
							& > a:hover {
								background: $colorBase;
							}
						}
					}
				}
			}
		}


		@at-root .nav_menu_btn {
			display: none;
			flex-direction: column;
			width: 40px;
			height: 40px;
			border: 1px solid #fff;
			border-radius: 4px;
			@include Position(f, 15px, 15px);
			z-index: 100;
			cursor: pointer;
			box-shadow: 0 0 7px #888;
			transition: all 0.5s ease;
			background: $colorBase;

			> .line {
				display: block;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				position: relative;
				transition: all .3s ease .5s;
				background: #fff;

				&:nth-of-type(1) {
					top: 3px;
					left: 0;
				}

				&:nth-of-type(2) {
					top: -3px;
					right: 0;
				}

				&:nth-of-type(3) {

				}

				&:nth-of-type(4) {
					bottom: -3px;
					left: 0;
				}

				&:nth-of-type(5) {
					bottom: 3px;
					right: 0;
				}
			}

			&.active {
				right: 265px;

				> .line {

					&:nth-of-type(1) {
						left: -9px;
					}

					&:nth-of-type(2) {
						right: -9px;
					}

					&:nth-of-type(3) {

					}

					&:nth-of-type(4) {
						left: -9px;
					}

					&:nth-of-type(5) {
						right: -9px;
					}
				}
			}
		}


		@at-root .nav_menu_bg {
			@include Position(f, 0, 0, 0, 0);
			opacity: 0;
			visibility: hidden;
			background: rgba(#000, .4);
			z-index: 95;

			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
/*--------------- Navigation ---------------*/





/*
--------------------------------------------------
- Banner
--------------------------------------------------
*/
@at-root .hdr_bnr_bx {
	position: relative;
	overflow: hidden;

	@at-root .hdr_bnr {

		.owl-pagination {
			display: flex;
			justify-content: center;
			@include Position(a, null, 0, 25px, 0);
			z-index: 3;

			.owl-page {
				user-select: none;

				span {
					display: block;
					width: 12px;
					height: 12px;
					margin: 5px;
					border-radius: 50%;
					background: #fff;
				}


				&.active span,
				&:hover span {
					background: $colorBase;
				}
			}
		}

		@at-root .hdr_bnr_it {

			@at-root .hdr_bnr_img {
				height: 440px;
			}


			@at-root .hdr_bnr_capt_bx {
				display: flex;
				align-items: center;
				@include Position(a, 0, 0, 0, 0);
				opacity: 0;
				transition: all .4s ease 1.2s;

				@at-root .owl-item.active & {
					opacity: 1;
				}


				@at-root .hdr_bnr_capt {
					max-width: 350px;
					padding: 30px 20px;
					background: $colorBase;
					color: #fff !important;

					@at-root .hdr_bnr_capt_ttl {
						@include TextMask(90px, 45px, $colorBase, false, 45px);
						margin-bottom: 10px;
						font-size: 30px;
						font-weight: bold;
					}


					@at-root .hdr_bnr_capt_cnt {
						@include TextMask(72px, 24px, $colorBase, false, 48px);
						font-size: 16px;
					}
				}
			}
		}
	}


	@at-root .hdr_bnr_nav {

		@at-root .hdr_bnr_btn {
			width: 37px;
			height: 37px;
			@include Position(a, 0, null, 0, null, auto);
			z-index: 10;
			opacity: .5;
			cursor: pointer;
			font-size: 24px;
			transition: all .3s;
			background: #fff;

			&:hover {
				opacity: 1;
			}


			&:active {
				background: $colorBase;

				i {
					color: #fff;
				}
			}


			i {

			}


			&.prev {
				border-radius: 0 4px 4px 0;
				left: 0;
				transform: translateX(-100%);
			}


			&.next {
				border-radius: 4px 0 0 4px;
				right: 0;
				transform: translateX(100%);
			}


			@at-root .hdr_bnr_bx:hover & {
				transform: none;
			}
		}
	}
}
/*--------------- Banner ---------------*/




/*
--------------------------------------------------
- Search
--------------------------------------------------
*/
@at-root .search_bx {
	padding: 30px 0;
	position: relative;
	background: #e7e7e7;

	&::before {
		content: '';
		display: block;
		height: 10px;
		@include Position(a, null, 0, 0, 0);
		background: url('../img/home/wave_top.png') bottom repeat-x;
	}


	@at-root .search_cnt {
		width: 74%;
		padding: 0 15px;

		@at-root .search {

			@at-root .search_fld {
				margin-bottom: 10px;
				position: relative;

				@at-root .search_btn {
					width: 50px;
					border-radius: 100px 0 0 100px;
					@include Position(a, 0, null, 0, 0);
					font-size: 17px;
					transition: all .3s;

					&:hover {
						color: $colorBase;
					}


					&::before {
						content: '';
						display: block;
						width: 1px;
						height: 60%;
						@include Position(a, 0, 0, 0, null, true);
						background: #c4c2bd;
					}


					i {

					}
				}


				@at-root .search_inp {
					width: 100%;
					height: 50px;
					padding-left: 65px;
					padding-right: 15px;
					border: 1px solid #f2f2f2;
					border-radius: 100px;
					font-size: 14px;
					transition: all .3s;
					background: #dcdcdc;

					&:focus {
						//border-color: $colorBase;
						//box-shadow: 0 0 6px $colorBase;
						background: #f2f2f2;
					}
				}
			}


			@at-root .search_eg {
				font-size: 12px;

				.txt {

				}


				.val {

					a {
						display: inline;
						text-decoration: underline;
						color: $colorBase;
					}
				}
			}
		}
	}


	@at-root .search_asd {
		width: 26%;
		padding: 0 15px;
	}
}
/*--------------- Search ---------------*/


/**************** Header ****************/










/*
**************************************************
* Main
**************************************************
*/

@at-root .main {
	padding: 50px 0;
}




/*
--------------------------------------------------
- Main Content
--------------------------------------------------
*/
@at-root .main_content {
	margin-bottom: 50px;

	@at-root .content {
		width: 74%;
		padding: 0 15px;


		@at-root .cnt_it {

			& + & {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid #eee;
			}
		}
	}
}





/* About Exhibition
----------------------------------------*/
@at-root .abt_exib {

	.title {

	}

	@at-root .abt_exib_cnt {

		p {

			& + p {
				margin-top: 15px;
			}
		}
	}
}







/* Tematic Part
----------------------------------------*/
@at-root .tmt_part {

	.title {

	}

	@at-root .tmt_part_cnt {

		@at-root .tmt_part_ls {

			> li {
				margin-bottom: 30px;

				@at-root .tmt_part_it {
					display: flex;
					align-items: center;


					@at-root .tmt_part_img {
						flex: 0 0 auto;
						width: 62px;
						height: 62px;
						padding: 10px;
						border: 2px solid #f2f2f2;
						border-radius: 4px;
						transition: all .3s;

						svg {
							max-height: 100%;
							max-width: 100%;
							transition: all .3s;
							fill: $colorBase;
						}
					}


					@at-root .tmt_part_txt {
						padding-left: 12px;
					}


					&:hover {
						box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);

						.tmt_part_img {
							border-color: $colorBase;
							background: $colorBase;

							svg {
								fill: #fff;
							}
						}

						.tmt_part_txt {
							text-decoration: underline;
							color: $colorBase;
						}
					}
				}
			}
		}
	}
}





/* News
----------------------------------------*/
@at-root .news_bx {
	margin-top: 20px;
	border-top: 1px solid #eee;

	@at-root .news_row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		@at-root .news {
			width: 66%;
			padding: 0 10px;
			padding-top: 40px;
			border-right: 1px solid #eee;

			.title {

			}


			@at-root .news_cnt {
				display: flex;

				@at-root .news_max {
					width: 50%;
					margin-right: 20px;

					@at-root .news_max_img {
						margin-bottom: 15px;

						.img {
							height: 170px;
							border-radius: 4px;
						}
					}


					@at-root .news_max_txt {

						@at-root .news_max_name {
							@include TextMask(48px, 24px, #fff, false, 24px);
							margin-bottom: 15px;
							font-size: 16px;
							font-weight: bold;

							&:hover {
								text-decoration: underline;
								color: $colorBase;
							}
						}


						@at-root .news_max_desc {
							@include TextMask(57px, 19px, #fff, false, 38px);
							margin-bottom: 15px;
						}


						@at-root .news_max_date {
							font-style: italic;
							color: #bdbdbd;
						}


						@at-root .news_max_more {
							display: flex;
							margin-top: 15px;
							padding-top: 15px;
							border-top: 1px solid #f8f8f8;

							&.sm {
								display: none;
							}


							a {
								font-size: 12px;
								color: #e53935;

								&:hover {
									text-decoration: underline;
								}


								.txt {

								}


								i {

								}
							}
						}
					}
				}


				@at-root .news_mini {
					width: 50%;

					@at-root .news_mini_it {

						& + & {
							margin-top: 30px;
						}


						@at-root .news_mini_name {
							@include TextMask(42px, 21px, #fff, false, 21px);
							margin-bottom: 10px;
							font-size: 14px;
							font-weight: bold;

							&:hover {
								text-decoration: underline;
								color: $colorBase;
							}
						}


						@at-root .news_mini_desc {
							@include TextMask(57px, 19px, #fff, false, 38px);
						}
					}
				}
			}
		}


		@at-root .event {
			width: 34%;
			padding: 0 10px;
			padding-top: 40px;

			.title {

			}


			@at-root .event_cnt {

				@at-root .event_ls {

					> li {

						& + li {
							margin-top: 22px;
						}


						@at-root .event_it {
							display: flex;
							align-items: center;

							&:hover {
								text-decoration: underline;
								color: $colorBase;
							}


							@at-root .event_img {
								flex: 0 0 auto;

								.img {
									width: 68px;
									height: 68px;
									border-radius: 3px;
								}
							}


							@at-root .event_txt {
								flex: 1 1 auto;
								@include TextMask(57px, 19px, #fff, false, 38px);
								padding-left: 15px;
								font-weight: bold;
							}
						}
					}
				}


				@at-root .event_more {

					a {

						.txt {

						}


						i {

						}
					}
				}
			}
		}
	}
}


/*--------------- Main Content ---------------*/






/*
--------------------------------------------------
- Comments
--------------------------------------------------
*/
@at-root .cmt_bx {
	padding: 50px 0;
	position: relative;
	background: #e7e7e7;

	&::before {
		content: '';
		display: block;
		height: 10px;
		@include Position(a, 0, 0, null, 0);
		background: url(../img/home/wave_bottom.png) top repeat-x;
	}


	@at-root .cmt {

		.title {

		}


		@at-root .cmt_cnt {

			@at-root .cmt_bnr {
				display: none;
				width: auto;
				margin: 0 -15px;

				.owl-item {
					padding: 15px;
				}

				.owl-pagination {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					margin-top: 20px;

					.owl-page {
						user-select: none;

						span {
							display: block;
							width: 13px;
							height: 13px;
							margin: 5px;
							border-radius: 50%;
							background: #ffffff;
						}


						&.active span,
						&:hover span {
							background: $colorBase;
						}
					}
				}


				@at-root .cmt_it {
					border-radius: 4px;
					position: relative;
					overflow: hidden;
					transition: all .3s;
					background: #fff;

					&:hover {
						transform: translateY(-10px);
						box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.15);
					}


					@at-root .cmt_img {
						height: 155px;
					}


					@at-root .cmt_name_bx {
						padding: 10px 15px;
						padding-left: 50px;
						background: #f5f5f5;

						@at-root .cmt_name {
							font-size: 15px;
							font-weight: bold;
						}


						@at-root .cmt_pos {
							font-size: 12px;
						}
					}


					@at-root .cmt_txt_bx {
						padding: 20px 15px;
						padding-left: 50px;
						position: relative;

						&::before {
							content: '';
							display: block;
							width: 22px;
							height: 22px;
							@include Position(a, 22px, null, null, 15px);
							background: url(../img/home/comment_quote.png) center / contain no-repeat;
						}


						@at-root .cmt_txt {
							@include TextMask(190px, 19px, #fff);
						}
					}


					@at-root .cmt_more {
						display: flex;
						padding-left: 50px;
						padding-right: 15px;

						a {
							width: 100%;
							max-width: 170px;
							padding: 9px 15px;
							border-radius: 4px 4px 0 0;
							text-align: center;
							font-size: 12px;
							@include ButtonDark($colorBase);
							color: #fff;
						}
					}
				}
			}
		}
	}
}
/*--------------- Comments ---------------*/






/*
--------------------------------------------------
- Partners
--------------------------------------------------
*/
@at-root .part_bx {

	@at-root .part {
		padding-top: 40px;

		&.bd {
			border-top: 1px solid $colorBase;
		}



		@at-root .part_it {

			& + & {
				margin-top: 60px;
			}


			.title {

			}


			@at-root .part_cnt {

				@at-root .part_bnr_bx {
					position: relative;

					@at-root .part_bnr {
						padding: 0 30px;

						.owl-wrapper {
							display: flex !important;
							align-items: center;
						}


						@at-root .part_bnr_it {
							display: flex;
							justify-content: center;
							padding: 0 30px;

							a {

								img {
									max-height: 100px;
								}
							}
						}
					}


					@at-root .part_bnr_nav {

						@at-root .part_bnr_btn {
							width: 30px;
							@include Position(a, 0, null, 0);
							cursor: pointer;
							font-size: 14px;
							color: #d5d5d5;

							&:hover {
								color: #000;
							}


							i {

							}


							&.prev {
								left: 0;
							}


							&.next {
								right: 0;
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Partners ---------------*/












/*
--------------------------------------------------
- Aside
--------------------------------------------------
*/

@at-root .title {
	display: flex;
	margin-bottom: 15px;
	padding-left: 15px;
	position: relative;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	color: #000;

	&:before {
		content: '';
		display: block;
		width: 8px;
		@include Position(a, 5px, null, 5px, 0);
		border: 3px solid $colorBase;
		border-top: 0;
		border-bottom: 0;
	}


	a[href]:hover {
		color: $colorBase;
	}
}


@at-root .aside {
	width: 26%;
	padding: 0 15px;

	@at-root .aside_it {
		max-width: 400px;
		margin: auto;

		& + & {
			margin-top: 40px;
		}


		@at-root .asd_inv_bx {

			@at-root .asd_inv {
				margin-top: -220px;
				padding: 30px 20px;
				padding-bottom: 35px;
				position: relative;
				z-index: 10;
				border-radius: 5px 5px 0 0;
				background: $colorBaseDark;
				color: #fff;

				&::before {
					content: '';
					display: block;
					height: 10px;
					@include Position(a, null, 0, 0, 0);
					background: url(../img/home/wave_top.png) center bottom repeat-x;
				}


				@at-root .asd_inv_btn_ls {
					margin-bottom: 25px;

					> li {

						& + li {
							margin-top: 10px;
						}


						@at-root .asd_inv_btn {
							width: 100%;
							padding: 10px 15px;
							padding-right: 40px;
							border: 1px solid #e74646;
							border-radius: 4px;
							position: relative;
							text-align: left;
							font-size: 12px;
							font-weight: 500;
							transition: all .3s;

							.txt {

							}


							i {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 38px;
								border-left: 1px solid #e74646;
								@include Position(a, 0, 0, 0);
								font-size: 10px;
								transition: all .3s;
							}


							&:hover {
								border-color: lighten(#e74646, 10%);
								background: #e74646;

								i {
									border-left-color: lighten(#e74646, 10%);
								}
							}
						}
					}
				}


				@at-root .asd_inv_part_bx {

					@at-root .asd_inv_part {
						width: 100%;
						padding: 11px;
						border-radius: 4px;
						text-align: center;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 500;
						box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
						transition: all .3s;
						background: #f1433f;

						&:hover {
							background: lighten(#f1433f, 5%);
						}
					}
				}
			}
		}


		@at-root .asd_vdo_bx {

			@at-root .asd_vdo {
				margin-bottom: 10px;

				iframe {
					display: block;
					width: 100%;
				}
			}


			@at-root .asd_vdo_mr {
				display: flex;
				justify-content: flex-end;

				a {
					font-size: 12px;
					color: $colorBase;

					.txt {

					}


					i {

					}
				}
			}
		}


		@at-root .asd_proj_bx {

			@at-root .asd_proj {

				@at-root .asd_proj_img_bx {
					border-radius: 5px;
					position: relative;
					overflow: hidden;

					@at-root .asd_proj_img {
						width: 100%;
						height: 200px;
						position: relative;
						filter: grayscale(1);

						&::before {
							content: '';
							display: block;
							@include Position(a, 0, 0, 0, 0);
							background: rgba(136, 136, 136, 0.8);
						}
					}


					@at-root .asd_proj_btn_bx {
						@include Position(a, 0, 0, 0, 0);

						@at-root .asd_proj_btn {
							padding: 6px 17px;
							border-radius: 4px;
							font-weight: 600;
							font-size: 18px;
							transition: all .3s;
							@include ButtonDark($colorBase);
							color: #fff !important;
						}
					}
				}
			}
		}


		@at-root .asd_plan_bx {

			@at-root .asd_plan_ls {
				counter-reset: Plan;

				> li {

					& + li {
						margin-top: 15px;
					}


					@at-root .asd_plan {
						border-radius: 5px;
						overflow: hidden;
						position: relative;
						color: #fff !important;

						&::before {
							content: '';
							display: block;
							@include Position(a, 0, 0, 0, 0);
							transition: all .3s;
							background: rgba(136, 136, 136, 0.9);
							z-index: 1;
						}


						&:hover::before {
							background: rgba($colorBase, .9);
						}


						@at-root .asd_plan_img {
							@include Position(a, 0, 0, 0, 0);
							filter: grayscale(1);
						}


						@at-root .asd_plan_txt {
							display: flex;
							align-items: center;
							padding: 5px 15px;
							padding-left: 0;
							position: relative;
							z-index: 3;

							.num {
								flex: 0 0 auto;
								width: 60px;
								margin-right: 5px;
								opacity: .6;
								line-height: 1;
								text-align: center;
								font-size: 60px;

								&::before {
									counter-increment: Plan;
									content: counter(Plan);
								}
							}


							.txt {
								flex: 1 1 auto;
								text-transform: uppercase;
							}


							i {
								flex: 0 0 auto;
								width: 15px;
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Aside ---------------*/


/**************** Main ****************/








/*
**************************************************
* Footer
**************************************************
*/
@at-root .footer {
	padding-top: 40px;
	padding-bottom: 20px;
	position: relative;
	font-size: 11px;
	background: #373737;
	color: #fff;

	&::before {
		content: '';
		display: block;
		height: 10px;
		@include Position(a, 0, 0, null, 0);
		background: url(../img/home/wave_bottom.png) top repeat-x;
	}
}




/*
--------------------------------------------------
- Footer Body
--------------------------------------------------
*/
@at-root .foot_bd {

	@at-root .foot_bd_it_bx {
		display: flex;
		margin: 0 -15px;

		@at-root .foot_bd_it {
			flex: 1 1 auto;
			padding: 0 15px;

			@at-root .foot_exhib {

				p {

					& + p {
						margin-top: 7px;
					}
				}
			}


			@at-root .foot_org {
				display: flex;

				@at-root .foot_org_img {
					flex: 0 0 auto;
					margin-right: 15px;
					padding-top: 4px;

					img {
						max-height: 60px;
					}
				}


				@at-root .foot_org_txt {

					p {

						& + p {
							margin-top: 7px;
						}
					}


					@at-root .foot_org_name {
						display: flex;

						a {
							border-bottom: 1px dashed;
							font-weight: bold;
						}
					}


					@at-root .foot_org_adrs {

					}


					@at-root .foot_org_tel {

					}
				}
			}


			@at-root .foot_cer {

				@at-root .foot_cer_ttl {
					margin-bottom: 10px;
				}


				@at-root .foot_cer_cnt {

					@at-root .foot_cer_ls {
						display: flex;

						> li {

							&:not(:last-of-type) {
								margin-right: 5px;
							}


							.img {
								width: 30px;
								height: 30px;
								border-radius: 50%;
							}
						}
					}
				}
			}


			@at-root .foot_subs_bx {

				@at-root .foot_subs {
					margin-bottom: 15px;

					@at-root .foot_subs_ttl {
						margin-bottom: 10px;
					}


					@at-root .foot_subs_cnt {

						@at-root .foot_subs_fld {
							display: flex;

							@at-root .foot_subs_inp {
								flex: 1 1 auto;
								height: 32px;
								border: 1px solid transparent;
								border-radius: 3px 0 0 3px;
								padding: 0 6px;
								transition: all .3s;
								background: #474747;

								&:focus {
									border-color: $colorBase;
									background: #fff;
								}
							}


							@at-root .foot_subs_btn {
								flex: 0 0 auto;
								display: block;
								width: 32px;
								height: 32px;
								border-radius: 0 3px 3px 0;
								@include ButtonDark($colorBase);

								i {

								}
							}
						}
					}
				}


				@at-root .foot_scl {
					display: flex;
					justify-content: space-between;
					align-items: center;


					@at-root .foot_scl_txt {
						margin-right: 10px;
					}


					@at-root .foot_scl_ls {
						display: flex;

						> li {

							&:not(:last-of-type) {
								margin-right: 5px;
							}


							a {

								i {
									display: flex;
									justify-content: center;
									align-items: center;
									width: 30px;
									height: 30px;
									border-radius: 50%;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Footer Body ---------------*/







/*
--------------------------------------------------
- Footer Foot
--------------------------------------------------
*/
@at-root .foot_ft {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #2a2a2a;


	@at-root .foot_copy {
		width: 50%;
	}


	@at-root .foot_maker {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		width: 50%;

		.txt {
			margin-right: 5px;
			color: #979696;
		}


		a {
			border-bottom: 1px solid;

			&:hover {
				border-bottom-style: dashed;
			}
		}
	}
}
/*--------------- Footer Foot ---------------*/


/**************** Footer ****************/

















/*
**************************************************
* Exhibition
**************************************************
*/

/*
--------------------------------------------------
- About
--------------------------------------------------
*/
@at-root .asd_nav {
	border: 1px solid #eee;

	@at-root .asd_nav_ttl {
		padding: 15px 20px;
		border-bottom: 1px solid #eee;

		.title {
			margin-bottom: 0;
			font-size: 18px;

			&::before {
				top: 4px;
				bottom: 4px;
			}
		}
	}


	@at-root .asd_nav_cnt {
		padding: 15px 20px;

		@at-root .asd_nav_ls {

			> li {

				a {
					padding: 10px;
					padding-right: 0;
					border-left: 2px solid #ddd;
					position: relative;
					z-index: 2;
				}


				&.active a,
				a:hover {
					border-left-color: $colorBase;
				}
			}
		}
	}
}
/*--------------- About ---------------*/



/*
--------------------------------------------------
- Interview All
--------------------------------------------------
*/
@at-root .exib_itv_all {

	.title {

	}


	@at-root .exib_itv_all_cnt {

		@at-root .exib_itv_all_it_bx {

			@at-root .exib_itv_all_it {
				display: flex;
				align-items: flex-start;

				& + & {
					margin-top: 50px;
				}


				@at-root .exib_itv_all_img_bx {
					display: flex;
					align-items: center;
					width: 35%;
					padding-right: 15px;

					@at-root .exib_itv_all_img {
						flex: 0 0 auto;

						.img {
							width: 50px;
							height: 50px;
							border-radius: 4px;
						}
					}


					@at-root .exib_itv_all_info {
						flex: 1 1 auto;
						padding-left: 15px;

						@at-root .exib_itv_all_name {
							font-size: 14px;
							font-weight: bold;
						}


						@at-root .exib_itv_all_pos {
							font-size: 12px;
						}
					}
				}


				@at-root .exib_itv_all_txt {
					width: 65%;
					padding-left: 30px;
					position: relative;

					&::before {
						content: '';
						display: block;
						width: 22px;
						height: 22px;
						@include Position(a, 2px, null, null, 0);
						background: url('../img/home/comment_quote.png') center / contain no-repeat;
					}


					@at-root .exib_itv_all_cmt {
						margin-bottom: 15px;
					}


					@at-root .exib_itv_all_mr {
						display: flex;

						@at-root .exib_itv_all_mr_btn {
							border-bottom: 1px solid transparent;
							color: $colorBase !important;

							&:hover {
								border-bottom-color: $colorBase;
							}


							.txt {

							}


							i {

							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Interview All ---------------*/





/*
--------------------------------------------------
- Interview One
--------------------------------------------------
*/
@at-root .exib_itv_one {

	.title {

	}


	@at-root .exib_itv_one_cnt {

		img {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			border-radius: 5px;
		}


		h5 {
			margin: 30px 0;
			font-weight: bold;
			color: $colorBase;
		}


		p {
			margin-bottom: 15px;
		}
	}
}
/*--------------- Interview One ---------------*/




/*
--------------------------------------------------
- Summary
--------------------------------------------------
*/
@at-root .exib_sum {

	.title {

	}


	@at-root .exib_sum_cnt {

		@at-root .exib_sum_it {

			& + & {
				margin-top: 15px;
			}


			@at-root .exib_sum_it_ttl {
				display: flex;
				align-items: center;
				padding: 15px;
				cursor: pointer;
				font-size: 15px;
				font-weight: 500;
				transition: all .3s;
				background: #a5a5a5;
				color: #fff;

				&:hover {
					background: $colorBase;
				}


				.txt {
					flex: 1 1 auto;
					padding-left: 10px;
				}


				i {
					flex: 0 0 auto;
					transition: all .3s;
				}


				@at-root .exib_sum_it.active & {
					background: $colorBase;

					i {
						transform: rotate(180deg);
					}
				}
			}


			@at-root .exib_sum_it_cnt {


				@at-root .exib_sum_ls {
					padding: 15px;
					padding-bottom: 30px;

					> li {
						display: flex;
						align-items: flex-start;

						&::before {
							content: '\2022';
							flex: 0 0 auto;
							display: block;
							margin-right: 10px;
							line-height: 19px;
							font-size: 28px;
							color: $colorBase;
						}


						& + li {
							margin-top: 10px;
						}


						a {
							text-decoration: underline;

							&:hover {
								color: $colorBase;
							}
						}
					}
				}
			}
		}


		@at-root .exib_sum_mr {
			display: flex;
			margin-top: 20px;

			.exib_itv_all_mr_btn {
				font-size: 15px;
				font-weight: 500;

				.txt {

				}


				i {

				}
			}
		}
	}
}
/*--------------- Summary ---------------*/




/*
--------------------------------------------------
- Tematic
--------------------------------------------------
*/
@at-root .exib_tmt_cap {
	margin-bottom: 50px;
}
/*--------------- Tematic ---------------*/




/*
--------------------------------------------------
- Organizer
--------------------------------------------------
*/
@at-root .exib_org {

	.title {

	}


	@at-root .exib_org_cnt {

		@at-root .exib_org_it {

			& + & {
				margin-top: 50px;
				padding-top: 50px;
				border-top: 1px solid #eee;
			}


			@at-root .exib_org_img {
				margin-bottom: 20px;

				img {

				}
			}


			@at-root .exib_org_txt {

				p {

					& + p {
						margin-top: 15px;
					}


					a {
						display: inline;
						text-decoration: underline;
						color: #4b186e;
					}
				}
			}


			@at-root .exib_org_btn_bx {
				display: flex;
				margin-top: 20px;

				@at-root .exib_org_btn {
					padding: 7px 20px;
					border: 1px solid #4b186e;
					border-radius: 5px;
					transition: all .3s;
					@include ButtonReverse(#4b186e, #fff);
				}
			}
		}
	}
}
/*--------------- Organizer ---------------*/






/*
--------------------------------------------------
- News All
--------------------------------------------------
*/
@at-root .exib_news_all {

	.title {

	}


	@at-root .exib_news_all_cnt {

		@at-root .exib_news_all_hd {

			@at-root .exib_news_all_sch {
				display: flex;
				align-items: center;

				@at-root .exib_news_all_sch_inp {
					width: 65%;
					margin-right: 20px;
					position: relative;

					input {
						width: 100%;
						height: 44px;
						padding-left: 15px;
						padding-right: 50px;
						border: 1px solid #eee;
						border-radius: 4px;
						transition: all .3s;
						background: transparent;

						&:focus {
							border-color: $colorBase;
						}
					}


					button {
						width: 44px;
						border-radius: 0 4px 4px 0;
						@include Position(a, 0, 0, 0);
						font-size: 16px;
						transition: all .3s;
						color: #9597a5;

						&:hover {
							background: $colorBase;
							color: #fff;
						}


						i {

						}
					}
				}


				@at-root .exib_news_all_sch_sel {
					width: 35%;
					position: relative;

					select {
						width: 100%;
						height: 44px;
						padding-left: 15px;
						padding-right: 30px;
						border: 1px solid #eee;
						border-radius: 4px;
						position: relative;
						z-index: 2;
						transition: all .3s;
						background: transparent;

						&:focus {
							border-color: $colorBase;
						}
					}


					i {
						@include Position(a, 0, 15px, 0);
						font-size: 16px;
						color: #9597a5;
					}
				}
			}
		}


		@at-root .exib_news_all_bd {
			margin: 20px 0;
			padding: 20px 0;
			border: 1px solid #eee;
			border-left: 0;
			border-right: 0;

			@at-root .exib_news_all_it {
				display: flex;

				& + & {
					margin-top: 20px;
					padding-top: 20px;
					border-top: 1px solid #eee;
				}


				@at-root .exib_news_all_img {
					width: 30%;

					.img {
						height: 170px;
						border-radius: 4px;
					}
				}


				@at-root .exib_news_all_txt {
					width: 70%;
					padding-left: 20px;

					@at-root .exib_news_all_name {
						margin-bottom: 5px;
						font-size: 16px;
						font-weight: bold;
					}


					@at-root .exib_news_all_date {
						font-style: italic;
						color: #bdbdbd;
					}


					@at-root .exib_news_all_desc {
						@include TextMask(57px, 19px, #fff, false, 38px);
						margin: 20px 0;
					}
				}
			}
		}


		@at-root .exib_news_all_ft {
			display: flex;
			justify-content: flex-end;

			@at-root .exib_news_all_pgnt {
				display: flex;
				align-items: center;

				@at-root .exib_news_all_pgnt_txt {
					margin-right: 20px;
					color: #898989;
				}


				@at-root .exib_news_all_pgnt_ls {
					display: flex;

					> li {

						&:not(:last-of-type) {
							margin-right: 5px;
						}


						a {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 30px;
							height: 30px;
							border-radius: 3px;
							transition: all .3s;
							background: #898989;
							color: #fff;
						}


						&.active a,
						a:hover {
							background: $colorBase;
						}
					}
				}
			}
		}
	}
}
/*--------------- News All ---------------*/







/*
--------------------------------------------------
- News One
--------------------------------------------------
*/
@at-root .exib_news_one {

	.title {

	}


	@at-root .exib_news_one_cnt {
		padding-top: 15px;
		border-top: 1px solid #eee;

		@at-root .exib_news_one_art {
			margin-bottom: 30px;

			@at-root .exib_news_one_name {
				margin-bottom: 5px;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: bold;
			}


			@at-root .exib_news_one_date {
				margin-bottom: 15px;
				font-style: italic;
				color: #bdbdbd;
			}


			@at-root .exib_news_one_bnr_bx {
				margin-bottom: 15px;
				position: relative;

				@at-root .exib_news_one_bnr {

					@at-root .exib_news_one_bnr_img {
						width: 100%;
					}
				}


				@at-root .exib_news_one_bnr_nav {

					@at-root .exib_news_one_bnr_btn {
						width: 42px;
						height: 42px;
						@include Position(a, 0, null, 0, null, true);
						z-index: 10;
						cursor: pointer;
						font-size: 16px;
						transition: all .3s;
						background: rgba(#898989, .88);
						color: #fff;

						&:hover {
							background: rgba($colorBase, .88);
						}


						&.prev {
							left: 0;
						}


						&.next {
							right: 0;
						}


						i {

						}
					}
				}
			}


			@at-root .exib_news_one_txt {

				p {

					& + p {
						margin-top: 15px;
					}
				}
			}


			@at-root .exib_news_one_back {
				display: flex;
				margin-top: 30px;

				.exib_itv_all_mr_btn {

				}
			}
		}


		@at-root .exib_news_one_shr {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
			border: 1px solid #eee;
			border-left: 0;
			border-right: 0;

			@at-root .exib_news_one_scl {
				display: flex;
				align-items: center;

				@at-root .exib_news_one_scl_txt {
					margin-right: 20px;
					font-size: 14px;
					font-weight: 600;
				}


				@at-root .exib_news_one_scl_ls {
					display: flex;
					font-size: 14px;

					> li {

						&:not(:last-of-type) {
							margin-right: 10px;
						}


						a {

							i {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 34px;
								height: 34px;
								border: 1px solid;
								border-radius: 50%;
								font-size: 14px;
								color: #fff;
							}


							&:hover i {
								background-color: transparent;
							}
						}
					}
				}
			}


			@at-root .exib_news_one_next {
				display: flex;

				.exib_itv_all_mr_btn {

				}
			}
		}
	}
}
/*--------------- News One ---------------*/






/*
--------------------------------------------------
- Business
--------------------------------------------------
*/
@at-root .exib_biz_tb_bx {
	padding-bottom: 30px;
	overflow-y: hidden;
	overflow-x: auto;

	@at-root .exib_biz_tb {
		width: 100%;
		min-width: 400px;

		tr {

			td {
				padding: 10px;
				border: 1px solid #dcdcdc;

				&:nth-of-type(1) {
					width: 13%;
				}


				&:nth-of-type(2) {
					width: 65%;
				}


				&:nth-of-type(3) {
					width: 22%;
				}
			}
		}


		thead {
			font-size: 12px;
			font-weight: 600;
			background: #e7e7e7;

			tr {

				td {

				}
			}
		}


		tbody {

			tr {

				td {
					vertical-align: top;

					@at-root .exib_biz_tb_time {
						font-weight: 600;
					}


					@at-root .exib_biz_tb_ev {

						@at-root .exib_biz_tb_ev_bd {
							margin-bottom: 20px;

							p {

								& + p{
									margin-top: 15px;
								}
							}
						}


						@at-root .exib_biz_tb_ev_ft {

							@at-root .exib_biz_tb_ev_btn {
								display: flex;

								& + & {
									margin-top: 5px;
								}


								.exib_itv_all_mr_btn {

								}
							}
						}
					}


					@at-root .exib_biz_tb_place {

						p {

						}
					}
				}
			}
		}
	}
}


@at-root .exib_biz_old {
	margin-top: 30px;

	@at-root .exib_biz_old_txt {
		font-weight: 600;
	}


	@at-root .exib_biz_old_btn {
		display: flex;

		a {
			text-decoration: underline;
			color: $colorBase;
		}
	}
}
/*--------------- Business ---------------*/







/*
--------------------------------------------------
- Location
--------------------------------------------------
*/
@at-root .exib_loc {

	@at-root .exib_loc_date {
		margin-bottom: 40px;

		.title {

		}


		@at-root .exib_loc_date_cnt {

			@at-root .exib_loc_date_capt {
				margin-bottom: 15px;
				font-size: 16px;
				font-weight: 600;
				color: $colorBase;
			}


			@at-root .exib_loc_date_ls {
				margin-bottom: 25px;

				> li {
					display: flex;
					align-items: baseline;

					& + li {
						margin-top: 15px;
					}


					i {
						flex: 0 0 auto;
						width: 20px;
						color: $colorBase;
					}


					.txt {

					}
				}
			}


			@at-root .exib_loc_date_map {

				img {
					width: 100%;
				}
			}
		}
	}


	@at-root .exib_loc_expo {

		.title {

		}


		@at-root .exib_loc_expo_cnt {

			@at-root .exib_loc_expo_it_bx {

				@at-root .exib_loc_expo_it {
					display: flex;
					align-items: center;

					& + & {
						margin-top: 25px;
						padding-top: 25px;
						border-top: 1px solid #eee;
					}


					&.active {
						flex-direction: row-reverse;
					}


					@at-root .exib_loc_expo_img {
						width: 50%;

						.img {
							height: 260px;
							border-radius: 4px;
						}
					}


					@at-root .exib_loc_expo_txt {
						width: 50%;
						padding-left: 30px;

						@at-root .exib_loc_expo_it.active & {
							padding-left: 0;
							padding-right: 30px;
						}


						p {

							& + p {
								margin-top: 15px;
							}
						}
					}
				}
			}


			@at-root .exib_loc_expo_ps {
				margin-top: 30px;

				p {

					& + p {
						margin-top: 20px;
					}


					a {
						display: inline;
						text-decoration: underline;
						color: $colorBase;
					}
				}
			}
		}
	}
}
/*--------------- Location ---------------*/


/**************** Exhibition ****************/

















/*
**************************************************
* Participant
**************************************************
*/


/*
--------------------------------------------------
- Viza
--------------------------------------------------
*/
@at-root .ptcp_viza {

	.title {

	}


	@at-root .ptcp_viza_cnt {

		@at-root .ptcp_viza_capt {
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: bold;
		}


		@at-root .ptcp_viza_info {

			p {

				a {
					display: inline;
					text-decoration: underline;
					color: $colorBase;
				}
			}
		}
	}
}
/*--------------- Viza ---------------*/




/*
--------------------------------------------------
- Document
--------------------------------------------------
*/
@at-root .ptcp_doc {

	.title {

	}


	@at-root .ptcp_doc_cnt {

		@at-root .ptcp_doc_capt {
			margin-bottom: 20px;
		}


		@at-root .ptcp_doc_it_bx {

			@at-root .ptcp_doc_it {

				& + & {
					margin-top: 40px;
				}


				@at-root .ptcp_doc_it_ttl {
					margin-bottom: 10px;
					font-weight: 600;
				}


				@at-root .ptcp_doc_it_cnt {

					@at-root .ptcp_doc_req_ls {
						counter-reset: DocRequire;
						margin-bottom: 15px;

						> li {
							display: flex;
							align-items: flex-start;

							& + li {
								margin-top: 10px;
							}


							&::before {
								counter-increment: DocRequire;
								content: counter(DocRequire);
								flex: 0 0 auto;
								display: flex;
								justify-content: center;
								align-items: center;
								width: 14px;
								height: 14px;
								margin-top: 2px;
								margin-right: 10px;
								border-radius: 50%;
								text-align: center;
								font-size: 8px;
								font-weight: bold;
								background: $colorBase;
								color: #fff;
							}
						}
					}


					@at-root .ptcp_doc_down_ls {

						> li {
							display: flex;
							align-items: baseline;

							& + li {
								margin-top: 10px;
							}


							i {
								margin-right: 10px;
								color: $colorBase;
							}


							.txt {

								a {
									display: inline;
									text-decoration: underline;
									color: $colorBase;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Document ---------------*/




/*
--------------------------------------------------
- Reserve
--------------------------------------------------
*/
@at-root .ptcp_rsv {

	.title {

	}


	@at-root .ptcp_rsv_cnt {

		@at-root .ptcp_rsv_type {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			margin-bottom: 50px;

			@at-root .ptcp_rsv_type_it {
				width: 25%;
				padding: 10px;

				@at-root .ptcp_rsv_type_img {
					margin-bottom: 15px;

					img {
						width: 100%;
						border-radius: 4px;
					}
				}


				@at-root .ptcp_rsv_type_txt {

					p {

						strong {
							font-weight: 600;
						}


						a {
							display: inline;
							text-decoration: underline;
							color: $colorBase;
						}
					}
				}
			}
		}


		@at-root .ptcp_rsv_info {

			@at-root .ptcp_rsv_info_row {
				display: flex;
				flex-wrap: wrap;
				padding: 30px 0;

				@at-root .ptcp_rsv_info_ls_col {
					width: 60%;
					padding-right: 20px;

					@at-root .ptcp_rsv_info_ls {
						padding: 0;

						> li {

						}
					}
				}


				@at-root .ptcp_rsv_info_bnr_col {
					width: 40%;

					@at-root .ptcp_rsv_info_bnr_bx {
						position: relative;

						@at-root .ptcp_rsv_info_bnr {

							@at-root .ptcp_rsv_info_bnr_img {
								width: 100%;
							}
						}


						@at-root .ptcp_rsv_info_bnr_nav {

							@at-root .ptcp_rsv_info_bnr_btn {
								width: 38px;
								height: 38px;
								@include Position(a, 0, null, 0, null, true);
								z-index: 10;
								cursor: pointer;
								font-size: 10px;
								transition: all .3s;
								background: rgba(137,137,137,0.88);
								color: #fff;

								&:hover {
									background: rgba($colorBase, .88);
								}


								&.prev {
									left: 0;
								}


								&.next {
									right: 0;
								}


								i {

								}
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Reserve ---------------*/





/*
--------------------------------------------------
- Client
--------------------------------------------------
*/
@at-root .ptcp_clt {

	.title {

	}


	@at-root .ptcp_clt_cnt {

		@at-root .ptcp_clt_txt {
			margin-bottom: 50px;

			p {

				& + p {
					margin-top: 15px;
				}


				a {
					display: inline;
					text-decoration: underline;
					color: $colorBase;
				}
			}
		}


		@at-root .ptcp_clt_adv_bx {

			@at-root .ptcp_clt_adv {

				& + & {
					margin-top: 50px;
				}


				@at-root .ptcp_clt_adv_ttl {
					margin-bottom: 20px;
					font-size: 16px;
					font-weight: 600;
				}


				@at-root .ptcp_clt_adv_cnt {

					@at-root .ptcp_clt_adv_it {

						& + & {
							margin-top: 50px;
							padding-top: 50px;
							border-top: 1px solid #eee;
						}


						@at-root .ptcp_clt_adv_img {

							img {

							}
						}


						@at-root .ptcp_clt_adv_code {

							textarea {
								display: block;
								width: 100%;
								max-width: 500px;
								height: 150px;
								padding: 15px;
								border: 1px solid #eee;
								border-radius: 4px;
								resize: none;
								background: #f8f8f8;
								color: inherit;
							}
						}


						@at-root .ptcp_clt_adv_txt {

							p {

							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Client ---------------*/





/*
--------------------------------------------------
- Hotel
--------------------------------------------------
*/
@at-root .ptcp_htl {

	.title {

	}


	@at-root .ptcp_htl_cnt {

		@at-root .ptcp_htl_info {
			margin-bottom: 30px;

			@at-root .ptcp_htl_info_ttl {
				margin-bottom: 20px;
			}


			@at-root .ptcp_htl_info_cnt {

			}
		}


		@at-root .ptcp_htl_ctt {

			@at-root .ptcp_htl_ctt_ttl {
				margin-bottom: 20px;
				font-weight: 600;
			}


			@at-root .ptcp_htl_ctt_cnt {

				@at-root .ptcp_htl_ctt_it {

					& + & {
						margin-top: 15px;
					}


					p {

						a {
							display: inline;
							text-decoration: underline;
							color: $colorBase;
						}
					}
				}
			}
		}


		@at-root .ptcp_htl_comp {
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid #eee;

			@at-root .ptcp_htl_comp_it {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				& + & {
					margin-top: 20px;
				}


				@at-root .ptcp_htl_comp_img {
					width: 170px;

					img {

					}
				}


				@at-root .ptcp_htl_comp_txt {
					width: calc(100% - 170px);
					padding-left: 20px;

					@at-root .ptcp_htl_comp_name {
						font-size: 14px;
						font-weight: bold;
					}


					@at-root .ptcp_htl_comp_desc {

						a {
							display: inline;
							text-decoration: underline;
							color: $colorBase;
						}
					}
				}
			}
		}
	}
}
/*--------------- Hotel ---------------*/





/*
--------------------------------------------------
- Advert
--------------------------------------------------
*/
@at-root .ptcp_adv {

	.title {

	}


	@at-root .ptcp_adv_cnt {

		@at-root .ptcp_adv_info {
			margin-bottom: 40px;

			@at-root .ptcp_adv_info_ttl {
				margin-bottom: 10px;
				font-weight: 600;
			}


			@at-root .ptcp_adv_info_cnt {

				.ptcp_doc_down_ls {

				}
			}
		}


		@at-root .ptcp_adv_pic {

			img {
				width: 100%;
			}
		}
	}
}
/*--------------- Advert ---------------*/



/**************** Participant ****************/















/*
**************************************************
* Visitor
**************************************************
*/


/*
--------------------------------------------------
- Plan
--------------------------------------------------
*/
@at-root .vis_plan {

	.title {

	}


	@at-root .vis_plan_cnt {

		@at-root .vis_plan_pic {
			margin-bottom: 40px;

			img {
				width: 100%;
			}
		}


		@at-root .vis_plan_doc {

			.ptcp_doc_down_ls {

			}
		}
	}
}
/*--------------- Plan ---------------*/





/*
--------------------------------------------------
- Location
--------------------------------------------------
*/
@at-root .vis_loc {

	.title {

	}


	@at-root .vis_loc_cnt {

		@at-root .vis_loc_it {

			& + & {
				margin-top: 50px;
				padding-top: 50px;
				border-top: 1px solid #eee;
			}


			@at-root .vis_loc_adrs {
				margin-bottom: 40px;

				@at-root .vis_loc_adrs_ttl {
					margin-bottom: 10px;
					font-size: 16px;
					font-weight: 600;
				}


				@at-root .vis_loc_adrs_cnt {

					p {

					}
				}
			}


			@at-root .vis_loc_map {
				margin-bottom: 40px;

				img {
					width: 100%;
				}
			}


			@at-root .vis_loc_path {

				@at-root .vis_loc_path_hd {
					margin-bottom: 10px;
					font-size: 18px;
					font-weight: 700;
				}


				@at-root .vis_loc_path_bd {
					margin-bottom: 20px;

					@at-root .vis_loc_path_ls {

						> li {
							display: flex;

							&::before {
								content: '';
								flex: 0 0 auto;
								display: block;
								width: 22px;
								height: 22px;
								margin-right: 10px;
								background: url("../img/visitor/location_metro.png") center / contain no-repeat;
							}


							& + li {
								margin-top: 15px;
							}


							@at-root .vis_loc_path_it {
								flex: 1 1 auto;
								padding-top: 3px;

								p {

									&.from {
										font-weight: 600;
									}
								}
							}
						}
					}
				}


				@at-root .vis_loc_path_ft {

					@at-root .vis_loc_path_btn_ls {
						display: flex;
						flex-wrap: wrap;

						> li {
							margin-right: 10px;
							margin-bottom: 10px;


							@at-root .vis_loc_path_btn {
								padding: 10px 25px;
								border-radius: 4px;
								text-transform: uppercase;
								font-size: 12px;
								font-weight: 500;
								transition: all .3s;
								@include ButtonDark(#898989);
								color: #fff !important;

								&.active {
									@include ButtonDark($colorBase);
								}
							}
						}
					}
				}
			}


			@at-root .vis_loc_stt {

				@at-root .vis_loc_stt_ttl {
					margin-bottom: 20px;
					font-size: 18px;
					font-weight: 700;
				}


				@at-root .vis_loc_stt_cnt {

					@at-root .vis_loc_stt_img {

						img {

						}
					}
				}
			}
		}
	}
}
/*--------------- Location ---------------*/





/*
--------------------------------------------------
- Partner
--------------------------------------------------
*/
@at-root .vis_part {

	.title {

	}


	@at-root .vis_part_cnt {

		@at-root .vis_part_form {

			@at-root .vis_part_form_hd {
				margin-bottom: 20px;
				padding-bottom: 15px;
				border-bottom: 1px solid $colorBase;
				font-size: 18px;
				font-weight: bold;
			}


			@at-root .vis_part_form_bd {

				@at-root .vis_part_form_it {

					& + & {
						margin-top: 20px;
					}


					@at-root .vis_part_form_lbl {
						margin-bottom: 7px;

						&.required::after {
							content: ' *';
							color: $colorBase;
						}
					}


					@at-root .vis_part_form_inp {
						width: 100%;
						padding: 10px;
						border: 1px solid #e7e7e7;
						border-radius: 4px;
						transition: all .3s;
						background: #f8f8f8;

						&:focus {
							border-color: $colorBase;
							background: #fff;
						}
					}


					@at-root .vis_part_form_test {
						display: flex;

						@at-root .vis_part_form_cpch {
							width: 50%;
							margin-right: 15px;

							img {

							}
						}


						@at-root .vis_part_form_act {
							width: 50%;
							text-align: right;

							@at-root .vis_part_form_btn {
								display: flex;
								justify-content: flex-end;
								margin-bottom: 20px;

								.vis_loc_path_btn {

								}
							}


							@at-root .vis_part_form_capt {
								font-weight: 500;

								.red {
									color: $colorBase;
								}
							}
						}
					}
				}
			}


			@at-root .vis_part_form_ft {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid #eee;

				p {

					& + p {
						margin-top: 10px;
					}


					a {
						display: inline;
						text-decoration: underline;
						color: $colorBase;
					}
				}
			}
		}
	}
}
/*--------------- Partner ---------------*/





/*
--------------------------------------------------
- Go
--------------------------------------------------
*/
@at-root .vis_go {

	.title {

	}


	@at-root .vis_go_cnt {

		@at-root .vis_go_txt {
			margin-bottom: 40px;

			p {
				margin-bottom: 15px;

				a {
					display: inline;
					color: $colorBase;
				}


				strong {
					font-weight: 600;
				}
			}


			.ptcp_doc_req_ls {

			}
		}


		@at-root .vis_go_form {
			margin-bottom: 30px;

			@at-root .vis_go_form_gr {

				@at-root .vis_go_form_it {

					@at-root .vis_go_form_sel {
						position: relative;

						select {

						}


						i {
							display: block;
							height: 16px;
							@include Position(a, 0, 12px, 0, null, true);
							font-size: 16px;
							color: #898989;
						}
					}
				}
			}
		}


		@at-root .vis_go_type {
			margin-bottom: 40px;

			@at-root .vis_go_type_ttl {
				margin-bottom: 5px;
				font-weight: 600;

				.red {
					color: $colorBase;
				}
			}


			@at-root .vis_go_type_cnt {

				> .row {

					@at-root .vis_go_type_it {
						padding: 15px;

						@at-root .vis_go_chk_bx {
							display: flex;

							@at-root .vis_go_chk {
								position: relative;
								padding-left: 25px;
								cursor: pointer;

								&::before {
									content: '';
									display: block;
									width: 15px;
									height: 15px;
									border: 1px solid #e7e7e7;
									border-radius: 3px;
									@include Position(a, 2px, null, null, 0);
									background: #f8f8f8;
								}


								&::after {
									content: '';
									display: block;
									width: 9px;
									height: 5px;
									border: 2px solid $colorBase;
									border-top: 0;
									border-right: 0;
									@include Position(a, 6px, null, null, 3px);
									opacity: 0;
									transform: rotate(-45deg);
								}


								&.active::after {
									opacity: 1;
								}
							}


							@at-root .vis_go_chk_inp {

							}
						}
					}
				}
			}
		}


		@at-root .vis_go_rbt {

			.vis_go_type_cnt {
				
				> .row {
					align-items: center;
				}
			}


			@at-root .vis_go_rbt_txt {

				.vis_part_form_lbl {
					margin-bottom: 0;
				}
			}


			@at-root .vis_go_rbt_cpch {
				text-align: right;

				img {

				}
			}
		}


		@at-root .vis_go_form_act {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			@at-root .vis_go_form_capt {
				margin-bottom: 10px;
				margin-right: 20px;

				.vis_part_form_capt {

				}
			}


			@at-root .vis_go_form_btn {

				.vis_loc_path_btn_ls {

				}
			}
		}
	}
}
/*--------------- Go ---------------*/





/*
--------------------------------------------------
- Participant All
--------------------------------------------------
*/
@at-root .vis_ptc_all {

	.title {

	}


	@at-root .vis_ptc_all_cnt {

		@at-root .vis_ptc_all_reg {
			margin-bottom: 30px;
			padding: 10px 25px;
			font-size: 14px;
			background: #f3f2f2;

			p {

				a {
					display: inline;
					border-bottom: 1px solid;

					&.red {
						color: $colorBase;
					}


					&:hover {
						border-bottom-style: dashed;
					}
				}
			}
		}


		@at-root .vis_ptc_all_list {

			@at-root .vis_ptc_all_list_ttl {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding-bottom: 12px;
				border-bottom: 1px solid $colorBase;

				@at-root .vis_ptc_all_list_nm {
					flex: 1 1 auto;
					margin-right: 15px;
					font-size: 18px;
					font-weight: bold;
					color: $colorBase;
				}


				@at-root .vis_ptc_all_list_ctrl {
					flex: 0 0 auto;
					display: flex;

					a {
						display: flex;
						align-items: center;
						font-size: 10px;
						color: #9e9d9b;

						&:hover {
							color: inherit;
						}


						.txt {
							margin-right: 3px;

							.on {
								display: block;
							}


							.off {
								display: none;
							}
						}


						i {

						}


						&.active {

							.txt {

								.on {
									display: none;
								}


								.off {
									display: block;
								}
							}


							i {
								transform: rotate(180deg);
							}
						}
					}
				}
			}


			@at-root .vis_ptc_all_list_cnt {
				padding-top: 20px;

				@at-root .vis_ptc_all_it {

					& + & {
						margin-top: 40px;
					}


					@at-root .vis_ptc_all_it_hd {
						display: flex;
						align-items: center;
						margin-bottom: 15px;

						@at-root .vis_ptc_all_it_nm {
							width: calc(100% - 100px);
							padding-right: 15px;

							a {
								display: inline;
								font-size: 16px;
								font-weight: bold;

								&:hover {
									color: $colorBase;
								}
							}
						}


						@at-root .vis_ptc_all_it_img {
							width: 100px;
							text-align: right;

							img {
								max-height: 50px;
							}
						}
					}


					@at-root .vis_ptc_all_it_bd {
						padding-bottom: 20px;

						@at-root .vis_ptc_all_it_txt {
							margin-bottom: 20px;

							@at-root .vis_ptc_all_it_txt_hd {
								margin-bottom: 20px;
								font-weight: 600;
								color: $colorBase;
							}


							@at-root .vis_ptc_all_it_txt_bd {
								margin-bottom: 20px;
							}


							@at-root .vis_ptc_all_it_txt_ft {

								p {

									strong {
										font-weight: 600;
									}
								}


								.ttl {

								}


								.ls {
									
									&::before {
										content: '';
										display: inline-block;
										vertical-align: middle;
										width: 4px;
										height: 4px;
										margin-right: 4px;
										border-radius: 50%;
										background: $colorBase;
									}
								}
							}
						}


						@at-root .vis_ptc_all_it_mr {
							display: flex;
							justify-content: flex-end;

							@at-root .vis_ptc_all_it_mr_btn {
								border-bottom: 1px solid transparent;
								color: $colorBase !important;

								&:hover {
									border-bottom-color: $colorBase;
								}


								.txt {

								}


								i {

								}
							}
						}
					}


					@at-root .vis_ptc_all_it_ft {
						padding-bottom: 5px;
						border-bottom: 1px solid #eee;

						@at-root .vis_ptc_all_it_ctrl {
							@extend .vis_ptc_all_list_ctrl;

							a {

								.txt {

									.on {

									}


									.off {

									}
								}


								i {

								}
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Participant All ---------------*/





/*
--------------------------------------------------
- Participant One
--------------------------------------------------
*/
@at-root .vis_ptc_one {

	.title {

	}


	@at-root .vis_ptc_one_cnt {

		@at-root .vis_ptc_one_back {
			display: flex;
			margin-bottom: 20px;

			.vis_ptc_all_it_mr_btn {
				font-size: 12px;

				i {

				}


				.txt {

				}
			}
		}


		@at-root .vis_ptc_one_it_bx {

			@at-root .vis_ptc_one_it {

				& + & {
					margin-top: 40px;
				}


				@at-root .vis_ptc_one_info {

					@at-root .vis_ptc_one_info_ttl {
						margin-bottom: 20px;
						padding-bottom: 10px;
						border-bottom: 1px solid $colorBase;
						font-size: 18px;

						strong {

						}
					}


					@at-root .vis_ptc_one_info_cnt {

						p {

						}


						ul {

							> li {

							}
						}
					}
				}


				@at-root .vis_ptc_one_adl {

					@at-root .vis_ptc_one_adl_ttl {
						margin-bottom: 15px;
						font-size: 18px;
						font-weight: bold;
						color: $colorBase;
					}


					@at-root .vis_ptc_one_adl_cnt {

						@at-root .vis_ptc_one_vdo {

							& + & {
								margin-top: 20px;
							}


							@at-root .vis_ptc_one_vdo_ttl {
								margin-bottom: 10px;
								font-weight: 600;
							}


							@at-root .vis_ptc_one_vdo_cnt {

								iframe {
									display: block;
									max-width: 550px;
									height: 300px;
								}
							}
						}


						@at-root .vis_ptc_one_link {

							p {

								a {
									display: inline-block;
									text-decoration: underline;
									color: $colorBase;

									i {

									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*--------------- Participant One ---------------*/



/**************** Visitor ****************/
















/*
**************************************************
* Mediacenter
**************************************************
*/


/*
--------------------------------------------------
- Layout
--------------------------------------------------
*/
@at-root .mct_lyt {

	.title {

	}


	@at-root .mct_lyt_cnt {

		@at-root .mct_lyt_logo {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			margin-bottom: 40px;
			padding-bottom: 30px;
			border-bottom: 1px solid #eee;

			@at-root .mct_lyt_logo_it {
				padding: 15px;
				text-align: center;

				@at-root .mct_lyt_logo_name {
					font-size: 16px;
					font-weight: 600;
					color: $colorBase;
				}


				@at-root .mct_lyt_logo_img {
					margin: 15px 0;

					img {

					}
				}


				@at-root .mct_lyt_logo_down {

					a {
						display: inline;
						color: $colorBase;

						i {

						}


						.txt {
							text-decoration: underline;
						}
					}
				}
			}
		}


		@at-root .mct_lyt_adv {

			@at-root .mct_lyt_adv_ttl {
				margin-bottom: 30px;
				padding-bottom: 15px;
				border-bottom: 1px solid $colorBase;

				.warn {
					font-weight: 600;
					color: $colorBase;
				}


				.txt {

					strong {
						font-weight: 600;
					}
				}
			}


			@at-root .mct_lyt_adv_cnt {

			}
		}
	}
}
/*--------------- Layout ---------------*/




/*
--------------------------------------------------
- Partners
--------------------------------------------------
*/
@at-root .mct_part {

	.title {

	}


	@at-root .mct_part_cnt {

		@at-root .mct_part_lg {

			@at-root .mct_part_gr {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				margin: 0 -15px;

				@at-root .mct_part_it {
					padding: 15px;

					a {
						width: 150px;
						text-align: center;

						&:hover {
							color: $colorBase;
						}


						@at-root .mct_part_name {

						}


						@at-root .mct_part_img {

							img {
								max-height: 150px;
							}
						}
					}
				}
			}
		}


		@at-root .mct_part_sm {
			border-top: 1px solid #eee;
		}
	}
}
/*--------------- Partners ---------------*/





/*
--------------------------------------------------
- Press
--------------------------------------------------
*/
@at-root .mct_press {

	.title {

	}


	@at-root .mct_press_cnt {

		@at-root .mct_press_vdo {
			margin-bottom: 20px;

			@at-root .mct_press_vdo_gr {
				display: flex;
				padding: 30px 0;

				& + & {
					border-top: 1px solid #eee;
				}


				@at-root .mct_press_vdo_it {
					width: 50%;

					&:not(:last-of-type) {
						margin-right: 30px;
					}


					@at-root .mct_press_vdo_plr {
						margin-bottom: 20px;

						iframe {
							display: block;
						}
					}


					@at-root .mct_press_vdo_name {
						margin-bottom: 5px;
						font-size: 16px;
						font-weight: 600;
					}


					@at-root .mct_press_vdo_dir {
						font-size: 10px;
						color: $colorBase;

						i {
							font-size: 12px;
							color: #777;
						}


						.txt {

						}
					}
				}
			}
		}


		@at-root .mct_press_info {

			@at-root .mct_press_info_ttl {
				padding-bottom: 10px;
				border-bottom: 1px solid $colorBase;
				font-size: 18px;
				font-weight: 700;
			}


			@at-root .mct_press_info_cnt {

				.exib_sum_ls {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}
/*--------------- Press ---------------*/





/*
--------------------------------------------------
- Photo
--------------------------------------------------
*/
@at-root .mct_pto {

	.title {

	}


	@at-root .mct_pto_cnt {

		@at-root .mct_pto_cat {
			margin-bottom: 50px;
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;

			@at-root .mct_pto_cat_hd {
				margin-bottom: 15px;
				border-bottom: 1px solid $colorBase;

				@at-root .mct_pto_nav {
					display: flex;

					> li {
						width: 100%;
						max-width: 180px;

						a {
							padding: 14px;
							border: 1px solid $colorBase;
							border-bottom: 0;
							border-radius: 6px 6px 0 0;
							text-align: center;
							text-transform: uppercase;
							font-size: 14px;
							font-weight: 700;
							transition: all .3s;
							color: $colorBase;
						}


						&.active a,
						a:hover {
							background: $colorBase;
							color: #fff;
						}
					}
				}
			}


			@at-root .mct_pto_cat_bd {

				.row {

					@at-root .mct_pto_cat_col {
						padding: 15px;

						@at-root .mct_pto_cat_it {
							height: 220px;
							border-radius: 4px;
							position: relative;
							overflow: hidden;

							&::before {
								content: '';
								@include Position(a, 0, 0, 0, 0);
								transition: all .3s;
								background: rgba($colorBase, 0.9);
							}


							&:hover::before {
								background: rgba(#898989, 0.9);
							}


							@at-root .mct_pto_cat_it_inr {
								display: flex;
								flex-direction: column;
								height: 100%;
								position: relative;
								z-index: 2;
								color: #fff;

								@at-root .mct_pto_cat_txt {
									flex: 1 1 auto;
									flex-direction: column;
									transform: translateY(20px);
									transition: all .3s;

									@at-root .mct_pto_cat_it:hover & {
										transform: translateY(0);
									}


									@at-root .mct_pto_cat_img {
										width: 60px;
										margin-bottom: 15px;

										img {

										}
									}


									@at-root .mct_pto_cat_name {
										padding: 0 10px;
										text-align: center;
										font-size: 16px;
										font-weight: bold;
									}
								}


								@at-root .mct_pto_cat_btn {
									flex: 0 0 auto;
									padding: 12px;
									text-align: center;
									transform: translateY(100%);
									transition: all .3s;
									background: #898989;

									@at-root .mct_pto_cat_it:hover & {
										transform: translateY(0);
									}


									.txt {

									}


									i {

									}
								}
							}
						}
					}
				}
			}


			@at-root .mct_pto_cat_ft {
				margin-top: 15px;

				@at-root .mct_pto_cat_mr {
					display: flex;
					justify-content: center;

					a {
						text-align: center;
						font-size: 10px;
						color: #9e9d9b;

						&:hover {
							color: #000;
						}


						p {

							i {

							}
						}
					}
				}
			}
		}


		@at-root .mct_pto_gal {

			& + & {
				margin-top: 50px;
			}


			@at-root .mct_pto_gal_hd {
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid $colorBase;
				font-size: 18px;
				font-weight: bold;
			}


			@at-root .mct_pto_gal_bd {

				.row {

					@at-root .mct_pto_gal_col {
						padding: 15px;

						@at-root .mct_pto_gal_it {
							position: relative;
							border-radius: 4px;
							overflow: hidden;

							@at-root .mct_pto_gal_img {
								height: 220px;
							}


							@at-root .mct_pto_gal_zoom {
								@include Position(a, 0, 0, 0, 0);
								opacity: 0;
								font-size: 22px;
								transform: scale(2);
								transition: all .3s;
								background: rgba(0, 0, 0, 0.65);
								color: #fff;

								@at-root .mct_pto_gal_it:hover & {
									opacity: 1;
									transform: scale(1);
								}


								i {

								}
							}
						}
					}
				}
			}


			@at-root .mct_pto_gal_ft {
				display: flex;
				justify-content: flex-end;
				margin-top: 15px;
				padding-top: 30px;
				border-top: 1px solid #eee;

				.exib_news_all_pgnt {

				}
			}
		}
	}
}
/*--------------- Photo ---------------*/




/*
--------------------------------------------------
- Video
--------------------------------------------------
*/
@at-root .mct_vdo_gal_plr_lg {

	iframe {

	}
}
/*--------------- Video ---------------*/




/*
--------------------------------------------------
- Condition
--------------------------------------------------
*/
@at-root .mct_cond {

	.title {

	}


	@at-root .mct_cond_cnt {

		p {

			& + p {
				margin-top: 15px;
			}
		}


		@at-root .mct_cond_txt {
			margin-bottom: 30px;

			p {

			}
		}


		@at-root .mct_cond_capt {
			font-size: 12px;
			color: #898989;

			p {

			}
		}
	}
}
/*--------------- Condition ---------------*/



/**************** Mediacenter ****************/















/*
**************************************************
* Contact
**************************************************
*/
@at-root .contact {

	.title {

	}


	@at-root .contact_cnt {

		@at-root .contact_man {
			margin-bottom: 50px;
			padding-bottom: 35px;
			border-bottom: 1px solid #eee;

			.row {

				@at-root .contact_man_col {
					padding: 15px;

					@at-root .contact_man_it {
						display: flex;

						@at-root .contact_man_img {
							flex: 0 0 auto;
							width: 40px;
							margin-right: 15px;

							img {

							}
						}


						@at-root .contact_man_txt {
							flex: 1 1 auto;

							@at-root .contact_man_txt_it {

								& + & {
									margin-top: 15px;
								}


								p {

									&.red {
										color: $colorBase;
									}


									strong {
										font-weight: 700;
									}


									.txt {

									}


									.val {

									}


									a {
										display: inline;
										text-decoration: underline;
										color: $colorBase;
									}
								}
							}
						}
					}
				}
			}
		}


		@at-root .contact_adrs {

			@at-root .contact_adrs_hd {
				margin-bottom: 20px;
				font-size: 18px;
				font-weight: bold;
			}


			@at-root .contact_adrs_bd {
				margin-bottom: 30px;

				@at-root .contact_adrs_txt {

					& + & {
						margin-top: 15px;
					}


					p {

						.txt {

						}


						.val {

						}


						a {
							display: inline;
							text-decoration: underline;
							color: $colorBase;
						}
					}
				}
			}


			@at-root .contact_adrs_ft {

				@at-root .contact_adrs_map {

					img {
						width: 100%;
					}
				}
			}
		}
	}
}
/**************** Contact ****************/









/*
**************************************************
* Kerambrikteks
**************************************************
*/
@at-root .ktex {

	.title {

	}


	@at-root .ktex_cnt {

		@at-root .ktex_txt {
			margin-bottom: 40px;

			@at-root .ktex_info {
				margin-bottom: 30px;

				p {

					& + p {
						margin-top: 15px;
					}
				}
			}


			@at-root .ktex_eksp {

				@at-root .ktex_eksp_ttl {
					margin-bottom: 5px;
					font-size: 16px;
					font-weight: bold;
					color: $colorBase;
				}


				@at-root .ktex_eksp_cnt {

					@at-root .ktex_eksp_ls {
						padding: 0;
						padding-left: 10px;
					}
				}
			}
		}


		@at-root .ktex_ptcp {
			margin-bottom: 50px;
			padding-bottom: 30px;
			border-bottom: 1px solid #eee;

			@at-root .ktex_ptcp_ttl {
				padding-bottom: 10px;
				border-bottom: 1px solid $colorBase;
				font-size: 18px;
				font-weight: bold;
			}


			@at-root .ktex_ptcp_cnt {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
				padding-top: 20px;

				@at-root .ktex_ptcp_it {
					width: 150px;
					padding: 20px;

					a {

						img {

						}
					}
				}
			}
		}


		@at-root .ktex_cont {

			@at-root .ktex_cont_ttl {
				margin-bottom: 5px;
				font-size: 16px;
				font-weight: bold;
				color: $colorBase;
			}


			@at-root .ktex_cont_cnt {

			}
		}
	}
}
/**************** Kerambrikteks ****************/









/*
**************************************************
* Be Sponsor
**************************************************
*/
@at-root .bespo_call {
	display: flex;
	align-items: center;
	margin: 50px 0;
	padding: 0 20px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;

	@at-root .bespo_call_img {
		flex: 0 0 auto;
		height: 100px;
		width: 100px;

		.img {
			height: 100%;
			background: center 7px / contain no-repeat;
		}
	}


	@at-root .bespo_call_txt {
		flex: 1 1 auto;
		padding: 0 20px;

		@at-root .bespo_call_txt_ttl {
			font-size: 18px;
			font-weight: 700;
			color: $colorBase;
		}


		@at-root .bespo_call_txt_cnt {
			font-size: 16px;
			font-weight: 500;
		}
	}


	@at-root .bespo_call_btn {
		flex: 0 0 auto;

		.vis_loc_path_btn {

		}
	}
}



@at-root .bespo_cont {

	@at-root .bespo_cont_ttl {
		margin-bottom: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid $colorBase;
		font-size: 18px;
		font-weight: bold;
	}


	@at-root .bespo_cont_cnt {

	}
}
/**************** Be Sponsor ****************/
































/*
**************************************************
* Header
**************************************************
*/

/**************** Header ****************/






/*
--------------------------------------------------
- Header
--------------------------------------------------
*/

/*--------------- Header ---------------*/






/* Header
----------------------------------------*/





