@import 'variables';
@import 'mixins';



/* Min Width
--------------------------------------------------------------------------------------------------------------*/

/*
**************************************************
* Min Width = 480px
**************************************************
*/
@media (min-width: 480px) {


	/**************** Min Width = 480px ****************/
}


/*
**************************************************
* Min Width = 768px
**************************************************
*/
@media (min-width: 768px) {


	/**************** Min Width = 768px ****************/
}


/*
**************************************************
* Min Width = 992px
**************************************************
*/
@media (min-width: 992px) {


	/**************** Min Width = 992px ****************/
}


/*
**************************************************
* Min Width = 1200px
**************************************************
*/
@media (min-width: 1200px) {


	/**************** Min Width = 1200px ****************/
}


/*
**************************************************
* Min Width = 1590px
**************************************************
*/
@media (min-width: 1590px) {


	/**************** Min Width = 1590px ****************/
}








/* Max Width
--------------------------------------------------------------------------------------------------------------*/

/*
**************************************************
* Max Width = 1589px
**************************************************
*/
@media (max-width: 1589px) {


	/**************** Max Width = 1589px ****************/
}


/*
**************************************************
* Max Width = 1199px
**************************************************
*/
@media (max-width: 1199px) {
	.logo_img img {
		height: 55px;
	}
	.logo_img_txt {
		font-size: 13px;
	}
	.hdr_exhib_bd {
		font-size: 27px;
	}
	.hdr_exhib_ft {
		font-size: 11px;
	}
	.hdr_org_img img {
		height: 50px;
	}
	.hdr_cnt_btn {
		font-size: 10px;
	}


	.news {
		width: 100%;
		padding-bottom: 40px;
		border-right: 0;
		border-bottom: 1px solid #f8f8f8;
	}
	.event {
		width: 100%;
	}



	.ptcp_rsv_type_it {
		width: 50%;
	}

	/**************** Max Width = 1199px ****************/
}


/*
**************************************************
* Max Width = 991px
**************************************************
*/
@media (max-width: 991px) {
	.hdr_cnt {
		flex-direction: column;
	}
	.hdr_cnt_txt {
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
	.hdr_cnt_txt_it {
		border-right: 0 !important;

		&:nth-of-type(1) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.logo_bx {
		justify-content: center;
		padding-right: 0;
	}
	.hdr_exhib_bx {
		justify-content: flex-start;
		padding: 0;
	}
	.hdr_org_bx {
		padding: 0;
	}



	.nav_menu_bx {
		height: 1px;
	}
	.nav_menu_inr {
		position: static !important;
	}
	.nav_menu {
		width: 250px;
		@include Position(f, 0, 0, 0);
		z-index: 100;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translateX(105%);
		transition: all 0.5s ease;
		background: $colorBase;
		color: #fff;

		&.active {
			transform: translateX(0);
		}
	}
	.nav_menu_ls {
		display: block;
	}
	.nav_menu_ls > li {

		> a {
			font-size: 14px;
			font-weight: 700;
		}


		&.active > a,
		& > a:hover {
			background: darken($colorBase, 5%);
		}
	}
	.nav_menu_drop {
		position: static;
		opacity: 1;
		visibility: visible;
		transform: none;
		box-shadow: none;
		background: $colorBaseDark;
	}
	.nav_menu_drop > li {

		> a {
			font-weight: 400;
		}


		&.active > a,
		& > a:hover {
			background: darken($colorBaseDark, 5%);
		}
	}
	.nav_menu_btn {
		display: flex;
	}


	.search_cnt,
	.search_asd {
		width: 100%;
	}




	.content {
		width: 100%;
		margin-bottom: 50px;
	}
	.aside {
		width: 100%;
	}
	.asd_inv {
		margin-top: 0;
	}



	.foot_bd_it_bx {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.foot_bd_it {

		&+ & {
			margin-top: 40px;
		}
	}
	.foot_org {
		flex-direction: column;
	}
	.foot_org_img {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.foot_org_name {
		justify-content: center;
	}




	.mct_vdo_gal_plr_lg iframe {
		height: 300px;
	}

	/**************** Max Width = 991px ****************/
}


/*
**************************************************
* Max Width = 767px
**************************************************
*/
@media (max-width: 767px) {
	.hdr_cnt_txt {
		flex-direction: column;
		width: auto;
	}
	.hdr_cnt_txt_it {
		width: 100%;
		margin-bottom: 0 !important;
		padding-bottom: 20px;
		border-bottom: 1px solid #f0eee8;

		& + & {
			margin-top: 20px;
		}
	}
	.hdr_exhib_bx,
	.hdr_org_bx {
		justify-content: center;
	}


	.hdr_bnr_img {
		height: 400px;
	}
	.hdr_bnr_capt {
		max-width: 250px;
		padding: 20px 15px;
	}
	.hdr_bnr_capt_ttl {
		max-height: 60px;
		font-size: 20px;

		&:after {
			height: 30px;
			top: 30px;
		}
	}
	.hdr_bnr_capt_cnt {
		max-height: 63px;
		font-size: 14px;

		&:after {
			height: 21px;
			top: 42px;
		}
	}



	.foot_copy {
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	.foot_maker {
		width: 100%;
		justify-content: center;
	}



	.exib_itv_all_it {
		flex-direction: column;
	}
	.exib_itv_all_img_bx {
		width: 100%;
		margin-bottom: 15px;
		padding-right: 0;
	}
	.exib_itv_all_txt {
		width: 100%;
		padding-top: 30px;
		padding-left: 0;
	}



	.exib_news_all_sch {
		flex-direction: column;
	}
	.exib_news_all_sch_inp {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.exib_news_all_sch_sel {
		width: 100%;
	}
	.exib_news_all_it {
		flex-direction: column;
	}
	.exib_news_all_img {
		width: 100%;
		margin-bottom: 15px;

		.img {
			height: 250px;
		}
	}
	.exib_news_all_txt {
		width: 100%;
		padding-left: 0;
	}
	.exib_news_all_ft {
		justify-content: center;
	}
	.exib_news_all_pgnt {
		flex-direction: column;
	}
	.exib_news_all_pgnt_txt {
		margin-right: 0;
		margin-bottom: 10px;
	}




	.exib_news_one_bnr_btn {
		display: none;
	}
	.exib_news_one_shr {
		flex-direction: column;
		align-items: flex-start;
	}
	.exib_news_one_scl {
		margin-bottom: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
	.exib_news_one_scl_txt {
		margin-right: 0;
		margin-bottom: 5px;
	}



	.exib_loc_expo_it {
		flex-direction: column !important;
	}
	.exib_loc_expo_img {
		width: 100%;
		margin-bottom: 20px;

		.img {
			height: 200px;
		}
	}
	.exib_loc_expo_txt {
		width: 100%;
		padding: 0 !important;
	}


	.ptcp_rsv_info_ls_col {
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
	.ptcp_rsv_info_bnr_col {
		width: 100%;
		max-width: 400px;
		margin: auto;
	}



	.vis_part_form_test {
		flex-direction: column;
	}
	.vis_part_form_cpch {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.vis_part_form_act {
		width: 100%;
		text-align: left;
	}
	.vis_part_form_btn {
		justify-content: flex-start;
	}




	.vis_go_form_it + .vis_go_form_it {
		margin-top: 20px;
	}
	.vis_go_rbt_cpch {
		text-align: left;
	}




	.mct_press_vdo_gr {
		flex-direction: column;
	}
	.mct_press_vdo_it {
		width: 100%;

		&:not(:last-of-type) {
			margin-bottom: 30px;
			margin-right: 0;
		}
	}




	.bespo_call {
		flex-direction: column-reverse;
	}
	.bespo_call_txt {
		order: 3;
		padding: 20px 0;
		text-align: center;
	}
	.bespo_call_btn {
		margin-bottom: 30px;
	}


	/**************** Max Width = 767px ****************/
}


/*
**************************************************
* Max Width = 479px
**************************************************
*/
@media (max-width: 479px) {
	.hdr_lang .txt {
		display: none;
	}


	.news_cnt {
		flex-direction: column;
	}
	.news_max {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.news_mini {
		width: 100%;
	}
	.news_max_more.lg {
		display: none;
	}
	.news_max_more.sm {
		display: block;
	}


	.ptcp_rsv_type_it {
		width: 100%;
	}



	.ptcp_htl_comp_img {
		width: 100%;
		margin-bottom: 15px;
		text-align: center;
	}
	.ptcp_htl_comp_txt {
		width: 100%;
		padding-left: 0;
	}



	.mct_press_vdo_plr iframe {
		height: 180px;
	}


	.mct_vdo_gal_plr_lg iframe {
		height: 220px;
	}

	/**************** Max Width = 479px ****************/
}



